
.about{
    // background: white;
    position: relative; 
    margin-bottom: 60px;
    .wrapper{
        display: flex;
        position: relative;
        button{
            width: 100%;
        }
    } 
}
.about::before{
    content:"";
    position: absolute;
    left: 0;
    top: -60px;
    right: 0;
    bottom: 45px;
    transform: skewY(-2deg);
    background: white;
    border-top: 20px solid $secondary;
    // border-bottom: 30px solid #D0287F;;
}
.about::after{
    content:"";
    position: absolute;
    z-index: -1;
    left: 0;
    top: 25px;
    right: 0;
    bottom: -55px;
    transform: skewY(4deg);
    background: white;
    // border-top: 30px solid #D0287F;
    border-bottom: 20px solid $secondary;
}

.img-container{
    width: 35%;
    margin: 20px;
    display: flex;
    align-items: center;
    img{
        box-shadow: 20px 20px $primary;
    }
}
.about-txt-container{
    width: 65%;
    margin: 20px;
    color: #00070C;
    h2{
        font-family: 'Sen', sans-serif;
        font-size: 2rem;
        text-transform: uppercase;
    }
}