.contact-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 0;
    
    h2{
        text-transform: uppercase;
        font-size: 2.5rem;
        margin-bottom: 0;
    }
    h3:last-of-type{
        margin: 0;
    }
}

.social-media{
    display:flex;
    // grid-template-columns: 33% 33% 33%;
    text-align: center;
    justify-content: space-evenly;
    padding: 0;
    li{
        font-size: 3rem;
    }
    a{
        transition: all ease-in 0.15s;

    }
    a:hover{
        color: $tertiary;
        font-size: 3.2rem;
    }
}