//-----------------Variables-----------------------------------------//
//    font-family: 'Gothic A1', sans-serif;

// font-family: 'Sen', sans-serif;
$text-light: #eaf0db;
$text-med: #8a8989;
// $primary: #00070C;
$primary:#020E17;
$secondary:  #D0287F;
$tertiary:  #74053e;

html{
    font-family: "sen", sans-serif;
    font-size: 62.5%;
    line-height: 1.5;
    scroll-behavior: smooth;
    background: $primary;
    color: $text-light;
}
.wrapper{
    margin: 0 auto;
    max-width: 1040px;
    width:75%;
}
li{
    list-style: none;
}

a {
    text-decoration: none;
    color:$text-light;
}
p{
    font-size: 1.5rem;
}
img {
    width: 100%;
}

h1{
    font-family: "Gothic A1", sans-serif;
}

h2{
    font-size: 3rem;
}
h3{
    font-size: 2.5rem;
}



