html{
    font-family: "sen", sans-serif;
    font-size: 62.5%;
    line-height: 1.5;
    scroll-behavior: smooth;
    background: #00070C;
    color: white;
}
.wrapper{
    margin: 0 auto;
    max-width: 1040px;
    width:75%;
}
li{
    list-style: none;
}

a {
    text-decoration: none;
    color:#eaf0db;
}
p{
    font-size: 1.5rem;
}
img {
    width: 100%;
}

h1, h2{
    font-family: "Gothic A1", sans-serif;
}



//-----------------Variables-----------------------------------------//
//    font-family: 'Gothic A1', sans-serif;

// font-family: 'Sen', sans-serif;


