.top-nav ul{
    display: flex;
    justify-content: space-around;
    li{
        // font-family: 'Sen', sans-serif;
        font-size: 2rem;
        margin: 20px;
        text-transform: uppercase;
        a{
            transition: all 0.35s ease-in;
        }
        a:hover{
            // background:linear-gradient(45deg, rgba(116,5,62,1) 0%, rgba(208,40,127,1) 100%);
            color: $secondary;
            
        }
    }

}

footer{
    text-align:center;
    background: $secondary;
    margin: 0;
    display: inline-block;
    width: 100%;
}

