.top-nav ul{
    display: flex;
    justify-content: space-around;
    li{
        // font-family: 'Sen', sans-serif;
        font-size: 2rem;
        margin: 20px;
        text-transform: uppercase;
    }
}

footer{
    text-align:center;
    background: $secondary;
    margin: 0;
    display: inline-block;
    width: 100%;
}