

hr{
    width: 50%;
    height:5px;
    background: $secondary;
    border-style: none;
}

.hero{
    display: flex;
    align-items: center;
    text-align: center;
    height:90vh;
    h1{
        font-size: 7rem;
        margin: 0;
        font-weight: bold;
    }
    
    h3{
        font-size: 2rem;
        // margin-top: 0;
        font-weight: lighter;
    }
}
.caret.caret-reversed {
    border-bottom: 30px solid $secondary;
    border-left: 30px solid $primary;
    border-right: 30px solid $primary;
    content: "";
    display: inline-block;
    height: 0;
    vertical-align: top;
    width: 0;
    transform: rotate(180deg);
  }