.right-container, .left-container{
    margin: 20px 0 20px 0;
    .wrapper{
        display: grid;
        position: relative;
        align-items: center;
        grid-template-columns: 55% 45%;
    }
}

.left-container{
    position: relative; 
    .wrapper{
        padding: 60px 0 60px 0;
        text-align: right;
        grid-template-columns: 45% 55%;
        .built-with{
            padding-right: 40px;
        }
    }
}

.right-container{
    position: relative; 
    .wrapper{
        color: $primary;
        padding: 40px 0 40px 0;
        text-align: left;
    }
}
.right-container::before{
    content:"";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 45px;
    transform: skewY(-2deg);
    background:$text-light;
    border-top: 20px solid $secondary;
    // border-bottom: 30px solid #D0287F;;
}

.right-container::after{
    content:"";
    position: absolute;
    z-index: -1;
    left: 0;
    top: 100px;
    right: 0;
    bottom: -55px;
    transform: skewY(2deg);
    background:$text-light;
    border-top: 30px solid #D0287F;
    border-bottom: 20px solid $secondary;
}
.port-img-contain-right, .port-img-contain-left{
    max-width: 425px;
}
.port-img-contain-left{
    margin-left: 90px;
    img{
        box-shadow: 20px 20px $secondary;
    }
}

.port-img-contain-right{
    margin-right: 10px;
    img{
        box-shadow: -20px 20px $primary;
    }
}