html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-family: "sen", sans-serif;
  font-size: 62.5%;
  line-height: 1.5;
  scroll-behavior: smooth;
  background: #020E17;
  color: #eaf0db;
}

.wrapper {
  margin: 0 auto;
  max-width: 1040px;
  width: 75%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #eaf0db;
}

img {
  width: 100%;
}

.top-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.top-nav ul li {
  font-size: 2rem;
  margin: 20px;
  text-transform: uppercase;
}

footer {
  text-align: center;
  background: #D0287F;
  margin: 0;
  display: inline-block;
  width: 100%;
}

hr {
  width: 50%;
  height: 5px;
  background: #D0287F;
  border-style: none;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 90vh;
}

.hero h1 {
  font-size: 7rem;
  margin: 0;
  font-weight: bold;
}

.hero h3 {
  font-size: 2rem;
  font-weight: lighter;
}

.caret.caret-reversed {
  border-bottom: 30px solid #D0287F;
  border-left: 30px solid #020E17;
  border-right: 30px solid #020E17;
  content: "";
  display: inline-block;
  height: 0;
  vertical-align: top;
  width: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.about {
  position: relative;
  margin-bottom: 60px;
}

.about .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 20px 0 40px 0;
}

.about .wrapper button {
  width: 100%;
}

.about::before {
  content: "";
  position: absolute;
  left: 0;
  top: -60px;
  right: 0;
  bottom: 45px;
  -webkit-transform: skewY(-2deg);
          transform: skewY(-2deg);
  background: #eaf0db;
  border-top: 20px solid #D0287F;
}

.about::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  top: 25px;
  right: 0;
  bottom: -55px;
  -webkit-transform: skewY(4deg);
          transform: skewY(4deg);
  background: #eaf0db;
  border-bottom: 20px solid #D0287F;
}

.img-container {
  width: 35%;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img-container img {
  -webkit-box-shadow: 20px 20px #020E17;
          box-shadow: 20px 20px #020E17;
}

.about-txt-container {
  width: 65%;
  margin: 20px;
  color: #00070C;
}

.about-txt-container h2 {
  font-family: 'Sen', sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
}

.skill-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 20% 20% 20% auto;
      grid-template-columns: 20% 20% 20% 20% auto;
}

.skill-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  font-size: 1.5rem;
  margin: 20px;
}

.skill-list li i {
  font-size: 3rem;
}

.right-container, .left-container {
  margin: 20px 0 20px 0;
}

.right-container .wrapper, .left-container .wrapper {
  display: -ms-grid;
  display: grid;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 55% 45%;
      grid-template-columns: 55% 45%;
}

.left-container {
  position: relative;
}

.left-container .wrapper {
  padding: 60px 0 60px 0;
  text-align: right;
  -ms-grid-columns: 45% 55%;
      grid-template-columns: 45% 55%;
}

.left-container .wrapper .built-with {
  padding-right: 40px;
}

.right-container {
  position: relative;
}

.right-container .wrapper {
  color: #020E17;
  padding: 40px 0 40px 0;
  text-align: left;
}

.right-container::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 45px;
  -webkit-transform: skewY(-2deg);
          transform: skewY(-2deg);
  background: #eaf0db;
  border-top: 20px solid #D0287F;
}

.right-container::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  top: 100px;
  right: 0;
  bottom: -55px;
  -webkit-transform: skewY(2deg);
          transform: skewY(2deg);
  background: #eaf0db;
  border-top: 30px solid #D0287F;
  border-bottom: 20px solid #D0287F;
}

.port-img-contain-right, .port-img-contain-left {
  max-width: 425px;
}

.port-img-contain-left {
  margin-left: 90px;
}

.port-img-contain-left img {
  -webkit-box-shadow: 20px 20px #D0287F;
          box-shadow: 20px 20px #D0287F;
}

.port-img-contain-right img {
  -webkit-box-shadow: 20px 20px #020E17;
          box-shadow: 20px 20px #020E17;
}

.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 0;
}

.contact-container h2 {
  text-transform: uppercase;
  font-size: 2.5rem;
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 0;
}

.social-media li {
  font-size: 4rem;
}

h1 {
  font-family: "Sen", sans-serif;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

p {
  font-size: 1.5rem;
}

button {
  background: #D0287F;
  border: none;
  padding: 10px;
  font-family: "Sen", sans-serif;
  font-size: 1.3rem;
  color: #020E17;
  text-transform: uppercase;
}

button:hover {
  cursor: pointer;
}

.glitch {
  color: white;
  font-size: 10rem;
  position: relative;
  width: 100%;
  margin: 0 auto;
  z-index: 2;
  text-shadow: 1.5px 1.5px 2px #f01924cb, -1.5px -1.5px 2px rgba(0, 0, 255, 0.637);
}

@-webkit-keyframes noise-anim {
  0% {
    clip: rect(96px, 9999px, 45px, 0);
  }
  5% {
    clip: rect(70px, 9999px, 99px, 0);
  }
  10% {
    clip: rect(52px, 9999px, 12px, 0);
  }
  15% {
    clip: rect(67px, 9999px, 81px, 0);
  }
  20% {
    clip: rect(74px, 9999px, 45px, 0);
  }
  25% {
    clip: rect(88px, 9999px, 53px, 0);
  }
  30% {
    clip: rect(48px, 9999px, 34px, 0);
  }
  35% {
    clip: rect(69px, 9999px, 28px, 0);
  }
  40% {
    clip: rect(15px, 9999px, 19px, 0);
  }
  45% {
    clip: rect(21px, 9999px, 77px, 0);
  }
  50% {
    clip: rect(18px, 9999px, 61px, 0);
  }
  55% {
    clip: rect(47px, 9999px, 34px, 0);
  }
  60% {
    clip: rect(41px, 9999px, 28px, 0);
  }
  65% {
    clip: rect(49px, 9999px, 93px, 0);
  }
  70% {
    clip: rect(30px, 9999px, 91px, 0);
  }
  75% {
    clip: rect(45px, 9999px, 36px, 0);
  }
  80% {
    clip: rect(88px, 9999px, 85px, 0);
  }
  85% {
    clip: rect(40px, 9999px, 74px, 0);
  }
  90% {
    clip: rect(42px, 9999px, 30px, 0);
  }
  95% {
    clip: rect(67px, 9999px, 32px, 0);
  }
  100% {
    clip: rect(23px, 9999px, 34px, 0);
  }
}

@keyframes noise-anim {
  0% {
    clip: rect(96px, 9999px, 45px, 0);
  }
  5% {
    clip: rect(70px, 9999px, 99px, 0);
  }
  10% {
    clip: rect(52px, 9999px, 12px, 0);
  }
  15% {
    clip: rect(67px, 9999px, 81px, 0);
  }
  20% {
    clip: rect(74px, 9999px, 45px, 0);
  }
  25% {
    clip: rect(88px, 9999px, 53px, 0);
  }
  30% {
    clip: rect(48px, 9999px, 34px, 0);
  }
  35% {
    clip: rect(69px, 9999px, 28px, 0);
  }
  40% {
    clip: rect(15px, 9999px, 19px, 0);
  }
  45% {
    clip: rect(21px, 9999px, 77px, 0);
  }
  50% {
    clip: rect(18px, 9999px, 61px, 0);
  }
  55% {
    clip: rect(47px, 9999px, 34px, 0);
  }
  60% {
    clip: rect(41px, 9999px, 28px, 0);
  }
  65% {
    clip: rect(49px, 9999px, 93px, 0);
  }
  70% {
    clip: rect(30px, 9999px, 91px, 0);
  }
  75% {
    clip: rect(45px, 9999px, 36px, 0);
  }
  80% {
    clip: rect(88px, 9999px, 85px, 0);
  }
  85% {
    clip: rect(40px, 9999px, 74px, 0);
  }
  90% {
    clip: rect(42px, 9999px, 30px, 0);
  }
  95% {
    clip: rect(67px, 9999px, 32px, 0);
  }
  100% {
    clip: rect(23px, 9999px, 34px, 0);
  }
}

.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: -1px;
  text-shadow: -1px 0 red;
  top: 0;
  color: white;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}

@media (max-width: 1024px) {
  .glitch {
    font-size: 7rem;
  }
}

@media (max-width: 900px) {
  .glitch {
    font-size: 6rem;
  }
}

@media (max-width: 410px) {
  .glitch {
    font-size: 5rem;
  }
}
